#list {

}

#search-box {
    height: 44px;
    width: 584px;
    font-size: 14px;
    font-family: sans-serif, Arial;
    border: 1px solid;
    border-radius: 24px;
    border-left-color: rgb(223, 225, 229);
    border-right-color: rgb(223, 225, 229);
    border-top-color: rgb(223, 225, 229);
    border-bottom-color:  rgb(223, 225, 229);
}
